/* Purpose: colours for elements (NOTE: all colours will be the same across desktop and mobile */

/*
Colour HEX Values
- brown: #201801
- green:#2E471D
- yellow: #F5DC9F
- blue: #CFEAFD
*/

/* LIGHT BACKGROUND*/
.lightBG{
    background-color: #F5DC9F;
    color: #201801;
}

.lightBG h1 {
    color:#2E471D;
}

.lightBG h2 {
    color:#2E471D;
}

.lightBG h3 {
    color:#2E471D;
}

.lightBG h4 {
    color:#2E471D;
}

.lightBG h5 {
    color:#2E471D;
}

/* unvisited link */
a.lightLink:link {
    color: #201801;
    transition: background-color 0.5s ease-out 50ms /* smooth transition for hover animation */
}

/* visited link */
a.lightLink:visited {
    color: #201801;
}

/* mouse over link */
a.lightLink:hover {
    color: #2E471D;
}

/* selected link */
a.lightLink:active {
    color: #2E471D;
}

.navLink h2, .dropdown-btn {
    color: #201801;
    transition: background-color 0.5s ease-out 50ms /* smooth transition for hover animation */
}

.navLink h2:hover, .dropdown-btn:hover {
    color: #2E471D;
}

/* buttons */
.lightPrimaryButton {
    background-color: #201801;
    color:white;
    mix-blend-mode: darken; /* makes text see-through */
    transition: background-color 0.5s ease-out 50ms /* smooth transition for hover animation */
}

.lightPrimaryButton:hover {
    background-color: #2E471D;
}

.lightSecondaryButton {
    border: 4px solid #201801;
    color: #201801;
    transition: background-color 0.5s ease-out 50ms /* smooth transition for hover animation */
}

.lightSecondaryButton:hover {
    border: 4px solid #2E471D;
    color: #2E471D;
}

/*-----------------------------------------------------------------------------------------------*/

/* DARK BACKGROUND */
.darkBG{
    background-color: #201801;
    color: #F5DC9F;
}


.darkBG h1 {
    color: #CFEAFD;
}

.darkBG h2 {
    color: #CFEAFD;
}

.darkBG h3 {
    color: #CFEAFD;
}

.darkBG h4 {
    color: #CFEAFD;
}

.darkBG h5 {
    color: #CFEAFD;
}

/* unvisited link */
a.darkLink:link {
    color: #F5DC9F;
    transition: background-color 0.5s ease-out 50ms /* smooth transition for hover animation */
}

/* visited link */
a.darkLink:visited {
    color: #F5DC9F;
}

/* mouse over link */
a.darkLink:hover {
    color: #CFEAFD;
}

/* selected link */
a.darkLink:active {
    color: #CFEAFD;
}

/* buttons */
.darkPrimaryButton {
    background-color: #F5DC9F;
    color:black;
    mix-blend-mode: lighten; /* makes text see-through */
    transition: background-color 0.5s ease-out 50ms /* smooth transition for hover animation */
}

.darkPrimaryButton:hover {
    background-color: #CFEAFD;
}

.darkSecondaryButton {
    border: 4px solid #F5DC9F;
    color: #F5DC9F;
    transition: background-color 0.5s ease-out 50ms /* smooth transition for hover animation */
}

.darkSecondaryButton:hover {
    border: 4px solid #CFEAFD;
    color: #CFEAFD;
}