.map-container {
    padding: 3.2rem .8rem;
    position: relative;
    display: inline-block;
    margin-top: -5rem;
    max-width: 45rem;
}

.map-container img {
    max-width: 45rem;
}

.shelford {
    top: 26%;
    left: 17%;
}

.bannockburn {
    top: 30%;
    left: 50%
}

.linton {
    top: 28%;
    left: 18%;
}

.smythesdale {
    top: 20%;
    left: 26%;
}

.scarsdale {
    top: 20%;
    left: 26%;
}


.scarsdale {
    top: 26%;
    left: 26%;
}

.meredith {
    top: 46%;
    left: 72%;
}

.Steiglitz {
    top: 55%;
    left: 90%;
}

.Bannockburn {
    top: 79%;
    left: 85%;
}

.Batesford {
    top: 85%;
    left: 97%;
}

.CapeClear {
    top: 45%;
    left: 32%;
}

.Dereel {
    top: 48%;
    left: 40%;
}

.Haddon {
    top: 10%;
    left: 32%;
}

.inverleigh {
    top: 88%;
    left: 73%;
}

.Lethbridge {
    top: 66%;
    left: 85%
}

.Napoleons {
    top: 23%;
    left: 47%;
}

.rokewood {
    top: 55%;
    left: 38%;
}

.Shelford {
    top: 70%;
    left: 60%;
}

.Teesdale {
    top: 75%;
    left: 73%;
}

.point {
    cursor: pointer;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #f5dc9f;
    border-radius: 50%;
    border: black 1px solid;
    transition: all .3s ease;
    will-change: transform, box-shadow;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 rgba(245, 220, 159, 0.4);
    animation: pulse 3s infinite;
}

.point:hover {
    animation: none;
    transform: translate(-50%, -50%) scale3D(1.35, 1.35, 1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#myInput {
    /* text-align: center; */
    margin-top: .5rem;
    border-radius: 5px;
    height: 1.2rem;
    padding: .2rem;
    margin-bottom: .5rem;
}

.content {
    margin-bottom: 5rem;
}

li a {
    color: black;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(245, 220, 159, 0.5);
    }

    70% {
        box-shadow: 0 0 0 25px rgba(245, 220, 159, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(245, 220, 159, 0);
    }
}

li,
a {
    text-decoration: none;
    list-style: none;
}

a:hover {
    text-decoration: underline;
    transition: 1s ease-in-out;
}

ul a {
    text-decoration: none;
}

ul a:visited {
    color: black;
}

@media screen and (max-width: 375px) {

    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;

    }

    .center {
        text-align: center;
    }

    .map-container {
        padding: .3rem .3rem;
        position: relative;
        display: inline-block;
        margin-top: -1rem;
        max-width: 20rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .map-container img {
        max-width: 20rem;
    }

    .point {
        width: 1rem;
        height: 1rem;
    }

    footer {
        margin-top: 15rem;
    }

    h2 {
        margin-left: -6.3rem;
    }

    .h1 {
        margin-left: -3rem;
    }

    #myInput,
    ul {
        margin-left: -6.3rem;
    }

    #myInput {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        width: 10rem;
        border-radius: 5px;
    }
}