.column {
    width: 45%;
    float: left;
    padding: 10px;
}

.column .button {
    width: 90%;
    border-radius: 100px;
    color: #CFEAFD;
    background-color: #201801;
    /* height: 1rem; */
    text-align: center;
}

.column .button:hover {
    cursor: pointer;
}

footer {
    position: relative;

}

.left img {
    margin-top: 2rem;
    /* margin-bottom: -70rem; */
    max-width: 100%;
}

.left .button {
    margin-top: 1rem;
}

.right {
    margin: auto;
    position: relative;
}

.right h2 {
    width: 100%;
    margin-top: -20px;
    text-align: center;
    justify-content: middle;
}

.right .logo1 {
    margin-top: 20px;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.logo2 {
    display: none;
}

.right .row {
    display: none;
}



@media screen and (max-width: 375px) {

    html,
    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .center {
        width: 100vw;
        margin-left: -2.9rem;
    }

    footer {
        margin-top: 15rem;
    }

    .h1 {
        margin-left: -4rem;
    }

    .column {
        width: 100%;
    }

    .left img {
        width: 100vw;
    }

    .logo1 {
        display: none;
    }

    .logo2 {
        /* display: inline; */
        max-width: 90vw;
        margin: -2rem 0 1rem 0;
    }


    footer {
        margin-top: -4rem;
    }

    .column2 {
        margin-top: -1.1rem;
    }

    .right {
        margin-top: 41rem;
        margin-bottom: 6rem;
        max-width: 100%;
        position: relative;
    }

    .right .row {
        display: inline;
    }

    .logo2 {
        display: inline;
        max-width: 90vw;
    }
}